{% extends "base/base.html" %}
{% load static %}
{% block title %}Explore{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- Explore Card -->
        <div class="w-4/5 mx-auto bg-gradient-to-br from-blue-600 via-purple-400 to-red-200 rounded-xl overflow-hidden shadow-lg">
            <div class="p-6 border-t border-gray-200">
            <!-- Buttons Section -->
                <div class="flex justify-evenly mt-4 mb-2">
                    <!-- Suggestions Button -->
                    <a href="{% url 'post:suggestions' %}"
                       class="bg-gradient-to-br from-blue-200 via-purple-400 to-red-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >Suggestions</a>
                </div>
                <div class="flex justify-evenly mt-10 mb-2 mr-10 mb-6">
                    <span class="text-2xl font-bold text-shadow-lg pl-8">Explore Posts</span>
                </div>
                <div class="flex justify-evenly">
                    <!-- Posts Section -->
                    <div class="m-2 grid grid-cols-3 gap-4">
                        <!-- Replace the following with Django template rendering -->
                        {% for post in posts %}
                            <a href="{% url 'post:post' pk=post.pk %}">
                                <div class="w-full relative">
                                    <img class="object-cover w-full h-48 rounded-lg border border-gray-300 transition-transform duration-300 transform hover:scale-105"
                                         src="{{ post.first_image.image.url }}" alt="Post Image">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





