{% extends "base/base.html" %}

{% block title %} profile {% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- Profile Card -->
        <div class="w-4/5 mx-auto bg-gradient-to-br from-blue-200 via-purple-400 to-red-200 rounded-xl overflow-hidden shadow-lg">
            <!-- Profile Image and Username/Bio Section -->
            <div class="flex p-6">
                <!-- Profile Image (Left) -->
                <div class="w-1/2">
                    <div class="relative" style="width: 480px; height: 360px;">
                        <img class="object-cover w-full h-full border border-gray-300 rounded-lg"
                             style="object-fit: cover;" src="{{ profile.get_image_url }}"
                             alt="Profile Image">
                    </div>
                    <!-- You can replace "profile_image.jpg" with the actual path to the profile owner's image -->
                </div>

                <!-- Username and Bio (Right) -->
                <div class="w-1/2 ml-6 mt-10">
                    <!-- Profile Owner's Name -->
                    <h2 class="text-xl font-semibold mb-2">{{ profile.user.name }}</h2>
                    <!-- Profile Owner's Bio with text alignment justified and italic -->
                    <p class="text-gray-700 text-justify italic">{% if profile.about_me %} {{ profile.about_me }} {% endif %}</p>
                    <!-- #new change: Added 'italic' class to make the bio text italic -->
                </div>
            </div>

            <!-- Additional Info Section -->
            <div class="p-6 border-t border-gray-200">
                <div class="flex justify-evenly">
                    <!-- Posts Count -->
                    <div class="text-center">
                        <h3 class="text-lg font-semibold mb-2">Posts</h3>
                        <p class="text-gray-700">{{ profile.posts.count }}</p>
                    </div>
                    <!-- Followers Count -->
                    <div class="text-center">
                        <h3 class="text-lg font-semibold mb-2"><a class="{% if not has_perm %} pointer-events-none {% endif %}" href="{% url 'accounts:followers' pk=profile.pk %}">Followers</a>
                        </h3>
                        <p class="text-gray-700">{{ followers_count }}</p>
                    </div>
                    <!-- Following Count -->
                    <div class="text-center">
                        <h3 class="text-lg font-semibold mb-2"><a class="{% if not has_perm %} pointer-events-none {% endif %}" href="{% url 'accounts:following' pk=profile.pk %}">Following</a>
                        </h3>
                        <p class="text-gray-700">{{ followings_count }}</p>
                    </div>
                </div>

                <!-- Buttons Section -->
                <div class="flex justify-evenly mt-4 mb-2">
                    <!-- New Post Button -->
                    <a href="{% url 'post:create_post' pk=profile.pk %}"
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" {% if not owner %}
                       style="display: none;" {% endif %}>New Post</a>
                    <!-- Edit Profile Button -->
                    <a href="{% url 'accounts:editprofile' pk=profile.pk %}"
                       class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"  {% if not owner %}
                       style="display: none;" {% endif %}>Edit Profile</a>
                    <a href="#"
                       class="bg-gradient-to-r from-red-500 to-yellow-500 hover:from-red-500 hover:to-yellow-700 text-white font-bold py-2 px-6 rounded mr-8"
                            {% if owner %}
                       style="display: none;"
                            {% endif %}>
                        {% if is_following %} Unfollow {% else %} Follow {% endif %}
                    </a>
                </div>

                <!-- Posts Section -->
                <div class="flex justify-evenly mt-10 mb-2 mr-10 mb-6">
                    <span class="text-2xl font-bold text-shadow-lg">Posts</span>
                </div>
                <div class="m-2 grid grid-cols-3 gap-4">
                    <!-- Replace the following with Django template rendering -->
                    {% for post in posts%}
                        <a href="{% url 'post:post' pk=post.pk %}">
                            <div class="w-full relative">
                                <img class="object-cover w-full h-48 rounded-lg border border-gray-300 transition-transform duration-300 transform hover:scale-105"
                                     src="{{ post.first_image.image.url }}" alt="Post Image">
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>






{% endblock %}