{% extends "base/base.html" %}
{% load static %}
{% block title %}Post details{% endblock %}

{% block content %}

    <div class="container mx-auto my-8">

        <div class="w-1/2 mx-auto bg-white rounded-xl shadow-md overflow-hidden ">
            <div class="flex items-center justify-between p-4 ">
                <!-- Owner image and name -->
                <div class="flex items-center">
                    <img src="{{ post.profile.get_image_url }}" class="w-8 h-8 rounded-full">
                    <span class="ml-2 hover:underline"><a
                            href="{% url 'accounts:profile' pk=post.profile.pk %}">{{ post.profile }}</a></span>
                </div>
                <!-- Publish date -->
                <div class="text-sm text-gray-500">{{ post.publish_at }}</div>
            </div>
            <!-- Post image -->
            <div class="flex flex-col">
                {% for img in post.get_images %}
                    <img src="{{ img.image.url }}" class="rounded-lg border border-gray-400 shadow-lg m-2">
                {% endfor %}
            </div>


            <div class="p-4">
                <!-- Like and dislike buttons with emoji and counts -->
                {% if liked %}
                    <div class="flex items-center">
                        <a onclick="like('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Like button with emoji -->
                            <span class="mr-4"><img id="like_image" src="{% static 'like/liked.svg' %}" width="20px"
                                                    alt="Like Button"></span>
                        </a>
                        <span class="mr-5"><a href="#" id="like_count">{{ reactions.like_count }}</a></span>
                        ||
                        <span class="ml-5"><a href="#" id="dislike_count">{{ reactions.dislike_count }}</a></span>
                        <a onclick="dislike('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Dislike button with emoji -->
                            <span class="mr-4"><img id="dislike_image" src="{% static 'like/unlike.jpg' %}" width="20px"
                                                    alt="Dislike Button"></span>
                        </a>

                    </div>
                {% elif disliked %}
                    <div class="flex items-center">
                        <a onclick="like('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Like button with emoji -->
                            <span class="mr-4"><img id="like_image" src="{% static 'like/like.svg' %}" width="20px"
                                                    alt="Like Button"></span>
                        </a>
                        <span class="mr-5"><a href="#" id="like_count">{{ reactions.like_count }}</a></span>
                        ||
                        <span class="ml-5"><a href="#" id="dislike_count">{{ reactions.dislike_count }}</a></span>
                        <a onclick="dislike('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Dislike button with emoji -->
                            <span class="mr-4"><img id="dislike_image" src="{% static 'like/unliked.jpg' %}"
                                                    width="20px"
                                                    alt="Dislike Button"></span>
                        </a>

                    </div>
                {% else %}
                    <div class="flex items-center">
                        <a onclick="like('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Like button with emoji -->
                            <span class="mr-4"><img id="like_image" src="{% static 'like/like.svg' %}" width="20px"
                                                    alt="Like Button"></span>
                        </a>
                        <span class="mr-5"><a href="#" id="like_count">{{ reactions.like_count }}</a></span>
                        ||
                        <span class="ml-5"><a href="#" id="dislike_count">{{ reactions.dislike_count }}</a></span>
                        <a onclick="dislike('{{ post.pk }}')" class="flex items-center mr-1 ml-6">
                            <!-- Dislike button with emoji -->
                            <span class="mr-4"><img id="dislike_image" src="{% static 'like/unlike.jpg' %}" width="20px"
                                                    alt="Dislike Button"></span>
                        </a>

                    </div>
                {% endif %}

            </div>
            <!-- Post description -->
            <div class="p-4 italic">
                <p>{{ post.description }}</p>
            </div>

            <!-- Comments section -->
            <div class="p-4">
                <h2 class="text-lg font-semibold">Comments</h2>
                <ul>
                    {% for comment in comments %}
                        <li>
                            <div class="flex justify-between items-start text-justify mt-4">
                                <!-- Left div for commenter's image -->
                                <div class="w-10 h-10">
                                    <img src="{{ comment.image }}" class="w-full h-full rounded-full">
                                </div>
                                <!-- Right div for comment content and reply button -->
                                <div class="w-5/6 ml-4">
                                    <!-- Top div for commenter's name -->
                                    <div class="flex justify-between">
                                        <div><a href="{% url 'accounts:profile' pk=comment.owner.pk %}"
                                                class="text-blue-500 hover:underline">{{ comment.owner }}</a></div>
                                        <div class="text-sm text-gray-500">{{ comment.date }}</div>
                                    </div>
                                    <!-- Middle div for comment content -->
                                    <div class="mt-1">
                                        <p class="pl-3">
                                            {% if comment.parent %}
                                                <span class="italic underline text-gray-800">@{{ comment.parent.profile }}</span>
                                            {% endif %}
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                    <!-- Bottom div for 'Reply' button -->
                                    <div class="mt-1">
                                        <button class="text-sm text-gray-500 reply-btn"
                                                data-comment-id="{{ comment.comment_id }}">Reply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- Text box and 'Post Comment' button for new comment -->
            <!-- Text box and 'Post Comment' button for new comment -->
            <form action="" method="post" class="mt-4 p-2" id="commentForm">
                {% csrf_token %}
                <!-- Input field for parent comment ID -->
                <input type="hidden" name="parent" id="parentInput" value="None">
                <!-- You can set default value if needed -->
                <div class="flex justify-between items-center">
        <textarea name="text" class="w-3/4 h-20 border border-gray-200 shadow-sm rounded-lg p-2"
                  placeholder="Write your comment here..."></textarea>
                    <button type="submit"
                            class="ml-2 bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">
                        Post Comment
                    </button>
                </div>
            </form>


        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function like(pk) {
            var likeimage = document.getElementById('like_image');
            var dislikeimage = document.getElementById('dislike_image');
            var likecount = document.getElementById('like_count');
            var dislikecount = document.getElementById('dislike_count');

            $.get(`/like/post/${pk}`).then(response => {
                if (response['response'] === 'no_reaction') {
                    likeimage.src = '{% static 'like/like.svg' %}';
                    dislikeimage.src = '{% static 'like/unlike.jpg' %}';
                    likecount.innerText = Number(likecount.innerText) - 1;
                } else if (response['response'] === 'liked') {
                    likeimage.src = '{% static 'like/liked.svg' %}';
                    dislikeimage.src = '{% static 'like/unlike.jpg' %}';
                    likecount.innerText = Number(likecount.innerText) + 1;
                    dislikecount.innerText = Number(dislikecount.innerText) - 1;
                } else {
                    likeimage.src = '{% static 'like/liked.svg' %}';
                    dislikeimage.src = '{% static 'like/unlike.jpg' %}';
                    likecount.innerText = Number(likecount.innerText) + 1;
                }
            });
        }

        function dislike(pk) {
            var likeimage = document.getElementById('like_image');
            var dislikeimage = document.getElementById('dislike_image');
            var likecount = document.getElementById('like_count');
            var dislikecount = document.getElementById('dislike_count');

            $.get(`/dislike/post/${pk}`).then(response => {
                if (response['response'] === 'no_reaction') {
                    likeimage.src = '{% static 'like/like.svg' %}';
                    dislikeimage.src = '{% static 'like/unlike.jpg' %}';
                    dislikecount.innerText = Number(dislikecount.innerText) - 1;
                } else if (response['response'] === 'disliked') {
                    likeimage.src = '{% static 'like/like.svg' %}';
                    dislikeimage.src = '{% static 'like/unliked.jpg' %}';
                    likecount.innerText = Number(likecount.innerText) - 1;
                    dislikecount.innerText = Number(dislikecount.innerText) + 1;
                } else {
                    likeimage.src = '{% static 'like/like.svg' %}';
                    dislikeimage.src = '{% static 'like/unliked.jpg' %}';
                    dislikecount.innerText = Number(dislikecount.innerText) + 1;
                }
            });
        }

    </script>

    <script>
        // Add event listener to all reply buttons
        document.querySelectorAll('.reply-btn').forEach(button => {
            button.addEventListener('click', function () {
                // Get the value of the clicked button
                const commentId = this.getAttribute('data-comment-id');
                // Copy the value to the hidden input field for parent comment ID
                document.getElementById('parentInput').value = commentId;
                // You can perform any other actions you want with the value here
            });
        });
    </script>

{% endblock %}




